<!DOCTYPE html>
<html>
<head>
    <title>Members</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
	<link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>

<body>
<div class="container mt-4">

    <h2 class="text-center mb-4">Members</h2>

    <!-- Add Member Form -->
    <form method="POST" action="/add_member" class="row g-3 mb-4">
        <div class="col-md-6">
           <input type="text" name="member_name" class="form-control"
                   placeholder="Member Name" required>

        </div>
        <div class="col-md-3">
            <button class="btn btn-primary w-100" type="submit">
                Add Member
            </button>
        </div>
    </form>

    <!-- Members Table -->
    <table class="table table-bordered text-center">
        <thead class="table-light">
            <tr>
                <th>Member ID</th>
                <th>Member Name</th>
                <th>Total Spent (₹)</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for member in members %}
			<tr>
				<td>{{ member.member_id }}</td>
				<td>{{ member.member_name }}</td>
				<td>{{ member[2] if member[2] else 0 }}</td>
				<td>
    				<a href="/delete_member/{{ member.member_id }}"
      				class="btn btn-danger btn-sm"
       				onclick="return confirm('Delete this member?');">
      					Delete
   					</a>
				</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Go to Expense Page -->
    <div class="text-end mt-4">
        <a href="{{ url_for('home') }}" class="btn btn-success">
            Add Expenses→
        </a>
    </div>

</div>
<script>
if ("serviceWorker" in navigator) {
    navigator.serviceWorker.register("/static/service-worker.js")
    .then(() => console.log("Service Worker Registered"))
    .catch(err => console.error("SW failed", err));
}
</script>

</body>
</html>
