<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
	<link rel="stylesheet" type="text/css" href="/static/styles.css" />
    
    <link rel="manifest" href="/static/manifest.json">
	<meta name="theme-color" content="#2e7d32">

</head>
<body>

<div class="box">
    <h2>Login</h2>
    <form method="POST">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>
    <p>New user? <a href="{{ url_for('signup') }}">sign up</a></p>
</div>
<script>
if ("serviceWorker" in navigator) {
    navigator.serviceWorker.register("/static/service-worker.js")
        .then(() => console.log("Service Worker Registered"))
        .catch(err => console.error("Service Worker Error", err));
}
</script>

</body>
</html>
