<!DOCTYPE html>
<html>
<head>
    <title>Monthly Expenses</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
	<link rel="stylesheet" type="text/css" href="/static/style.css" />
	<link rel="manifest" href="/static/manifest.json">
	<meta name="theme-color" content="#2e7d32">

</head>

<body>
<div class="container mt-4">

    <h2 class="text-center mb-4">Monthly Expenses</h2>

    <!-- Add Monthly Expense -->
    <form method="POST" action="/add_monthly" class="row g-3 mb-4">
        <div class="col-md-3">
            <input type="text" name="expense_name"
                   class="form-control" placeholder="Expense Name" required>
        </div>

        <div class="col-md-2">
            <input type="number" name="amount" 
                   class="form-control" placeholder="Amount" required>
        </div>

        <div class="col-md-2">
            <input type="date" name="month_year"  id= "monthly_expense_date"
                   class="form-control" placeholder="Jan-2025" required>
        </div>

        <div class="col-md-3">
            <input type="text" name="description"
                   class="form-control" placeholder="Description">
        </div>

        <div class="col-md-2">
            <button class="btn btn-success w-100">
                Add
            </button>
        </div>
    </form>

    <!-- Monthly Expense Table -->
    <table class="table table-bordered text-center">
        <thead class="table-light">
            <tr>
                <th>ID</th>
                <th>Expense</th>
                <th>Amount</th>
                <th>Month</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
           {% for expense in expenses %}
<tr>
    <td>{{ expense.id }}</td>
    <td>{{ expense.expense_name }}</td>
    <td>₹{{ expense.amount }}</td>
    <td>{{ expense.month_year }}</td>
    <td>{{ expense.description }}</td>
    <td>
    				<a href="/edit_monthly/{{ expense.id }}"
       					class="btn btn-warning btn-sm">
       					Edit
    				</a>

    				<a href="/delete_monthly/{{ expense.id }}" class="btn btn-danger" onclick="return confirm('Delete this expense?');">
       					Delete
    				</a>
</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="text-end fs-5">
        <strong>Total Monthly Expense:</strong> ₹{{ total }}
    </div>

    <a href="/" class="btn btn-secondary mt-3">
        Back to Main Expenses
    </a>

</div>
<script src="/static/js/db.js"></script>
<script src="/static/js/offline-monthly.js"></script>
<script>
if ("serviceWorker" in navigator) {
    navigator.serviceWorker.register("/static/service-worker.js")
        .then(() => console.log("Service Worker Registered"))
        .catch(err => console.error("Service Worker Error", err));
}
</script>

</body>
</html>
