<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
	<link rel="stylesheet" type="text/css" href="/static/styles.css" />
    
</head>
<body>

<div class="box">
    <h2>Sign Up</h2>
    <form method="POST">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Register</button>
    </form>
</div>
<script>
if ("serviceWorker" in navigator) {
    navigator.serviceWorker.register("/static/service-worker.js")
    .then(() => console.log("Service Worker Registered"))
    .catch(err => console.error("SW failed", err));
}
</script>

</body>
</html>
